@model ProyectoEmpleados.Models.Empleados

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Empleados</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorasNormales)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorasNormales)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorasExtras)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorasExtras)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalarioBruto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalarioBruto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deducciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deducciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalarioNeto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalarioNeto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
